/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');

@import url('./badges.css');
@import url('./back-link.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img {
  object-fit: cover;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 1140px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.gallery-item {
  position: relative;

  height: 200px;
  overflow: hidden;

  transition: transform 0.3s ease;

  width: 360px;
}

.gallery-item:hover {
  transform: scale(1.05);
}
.gallery-item:focus {
  transform: scale(1.05);
}
/* FORM STYLES */
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  padding: 16px;
  max-width: 600px;
}
.feedback-form label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin-bottom: 8px;
}
.feedback-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.feedback-form textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
}

.feedback-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
.feedback-form button:hover,
.feedback-form button:focus {
  background: #6c8cff;
}
